<a href="https://colab.research.google.com/github/mheloisagalvao/projeto-ml/blob/main/TestesML_THK.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/BD_SCM.CSV',encoding = 'latin-1',delimiter = ';')

In [ ]:
df

,IDTNS,TIPO,OPERADORA,ESTADO,DATA,ANO_BASE,Q1,Q2,Q2_1,Q2_2,...,G2_3,H0,COD_IBGE,H1,H2,H2a,H3,I1,I2,PESO
0,61433,BANDA-LARGA,CLARO/NET,ES,16/jul/20,2020,1,NaN,2,2,...,2,VILA VELHA,3205200,99,999997,99,7,3,NaN,"0,630163929"
1,234054,BANDA-LARGA,CLARO/NET,SP,16/jul/20,2020,1,NaN,2,2,...,1,SÃO PAULO,3550308,2,3000,2,7,1,NaN,"19,63292645"
2,235004,BANDA-LARGA,CLARO/NET,SP,16/jul/20,2020,1,NaN,2,2,...,1,SÃO BERNARDO DO CAMPO,3548708,2,10000,4,7,1,NaN,"19,63292645"
3,429370,BANDA-LARGA,OI,DF,16/jul/20,2020,1,NaN,2,2,...,1,BRASÍLIA,5300108,1,1300,1,2,1,NaN,"0,437668628"
4,579712,BANDA-LARGA,OI,RN,16/jul/20,2020,1,NaN,2,2,...,1,NATAL,2408102,1,1040,1,2,3,NaN,"0,093547923"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1094,855226,BANDA-LARGA,VIVO,DF,06/ago/20,2020,1,NaN,2,2,...,1,BRASÍLIA,5300108,1,999997,99,7,1,NaN,"0,860180898"
1095,855472,BANDA-LARGA,VIVO,DF,06/ago/20,2020,1,NaN,2,2,...,1,BRASÍLIA,5300108,1,2000,1,4,1,NaN,"0,860180898"
1096,855509,BANDA-LARGA,VIVO,DF,06/ago/20,2020,1,NaN,2,2,...,1,BRASÍLIA,5300108,2,999999,99,7,1,NaN,"0,860180898"
1097,855666,BANDA-LARGA,VIVO,DF,06/ago/20,2020,1,NaN,2,2,...,1,BRASÍLIA,5300108,1,5000,3,7,1,NaN,"0,860180898"
1098,876249,BANDA-LARGA,VIVO,GO,06/ago/20,2020,1,NaN,2,2,...,1,LUZIÂNIA,5212501,3,3000,2,7,2,NaN,"0,791468434"

In [ ]:
df['Q2_1'].unique()

array([2])

In [ ]:
df['Q2_2'].unique()

array([2])

In [ ]:
df['A1_1'].unique()

array([nan,  1.])

In [ ]:
df['A1_1'].value_counts()

A1_1
1.0    841
Name: count, dtype: int64

In [ ]:
df['A1_2'].value_counts()

A1_2
2.0    453
Name: count, dtype: int64

In [ ]:
df['A1_3'].value_counts()

A1_3
3.0    144
Name: count, dtype: int64

In [ ]:
df['A1_4'].value_counts()

A1_4
97.0    136
Name: count, dtype: int64

In [ ]:
df['A2_1'].isnull().sum()

258

In [ ]:
df['A2_2'].isnull().sum()

258

In [ ]:
df['A2_3'].isnull().sum()

258

In [ ]:
df['A3'].isnull().sum()

258

In [ ]:
df['J1'].unique()

array([ 6,  8,  0, 10,  5,  7,  2,  3,  9,  1,  4, 99])

In [ ]:
df['E2'].unique()

array([nan,  0., 10.,  9.,  7.,  5.,  8.,  6.,  1.,  3., 99.,  4.,  2.])

In [ ]:
df['E2'].value_counts()

E2
8.0     79
0.0     73
10.0    69
5.0     64
7.0     43
9.0     32
6.0     21
3.0     19
4.0     15
2.0     11
99.0     4
1.0      3
Name: count, dtype: int64

In [ ]:
df['E8'].value_counts()

E8
8.0     126
7.0     114
5.0      99
0.0      80
10.0     77
9.0      59
6.0      58
3.0      39
4.0      38
2.0      33
1.0      13
Name: count, dtype: int64

In [ ]:
df['E8'].dropna()

2        5.0
3       10.0
5        7.0
6        5.0
7        3.0
        ...
1092     5.0
1094     5.0
1095    10.0
1097    10.0
1098     0.0
Name: E8, Length: 736, dtype: float64

In [ ]:
df['E8'].unique()

array([nan,  5., 10.,  7.,  3.,  0.,  9.,  8.,  2.,  6.,  4.,  1.])

In [ ]:
df['E1'].value_counts()

E1
2    666
1    433
Name: count, dtype: int64

In [ ]:
df['E3'].value_counts()

E3
2    716
1    383
Name: count, dtype: int64

In [ ]:
df['E5'].value_counts()

E5
2    835
1    264
Name: count, dtype: int64

In [ ]:
df['E7'].value_counts()

E7
1    736
2    363
Name: count, dtype: int64

In [ ]:
df['E8'].value_counts()

E8
8.0     126
7.0     114
5.0      99
0.0      80
10.0     77
9.0      59
6.0      58
3.0      39
4.0      38
2.0      33
1.0      13
Name: count, dtype: int64

In [ ]:
df['E8']

0        NaN
1        NaN
2        5.0
3       10.0
4        NaN
        ...
1094     5.0
1095    10.0
1096     NaN
1097    10.0
1098     0.0
Name: E8, Length: 1099, dtype: float64

In [ ]:
df['F1'].value_counts()

F1
2    950
1    149
Name: count, dtype: int64

In [ ]:
df['F3'].value_counts()

F3
2    578
1    521
Name: count, dtype: int64

In [ ]:
df['F4_1']

0        NaN
1        NaN
2        7.0
3        NaN
4       10.0
        ...
1094    10.0
1095    10.0
1096     NaN
1097     9.0
1098     0.0
Name: F4_1, Length: 1099, dtype: float64

In [ ]:
df['F4_2'].dropna()

2        7.0
4        7.0
7        8.0
8        6.0
10      10.0
        ...
1092    10.0
1094    10.0
1095     7.0
1097    10.0
1098     0.0
Name: F4_2, Length: 521, dtype: float64

In [ ]:
df['F4_3'].dropna()

2        9.0
4       10.0
7        3.0
8        7.0
10       5.0
        ...
1092    10.0
1094    10.0
1095    10.0
1097     8.0
1098     1.0
Name: F4_3, Length: 521, dtype: float64

In [ ]:
df['G2_1'].value_counts()

G2_1
2    775
1    324
Name: count, dtype: int64

In [ ]:
df['G2_2'].value_counts()

G2_2
2    731
1    368
Name: count, dtype: int64

In [ ]:
df['G2_3'].value_counts()

G2_3
1    825
2    274
Name: count, dtype: int64

In [ ]:
df.columns

Index(['IDTNS', 'TIPO', 'OPERADORA', 'ESTADO', 'DATA', 'ANO_BASE', 'Q1', 'Q2',
       'Q2_1', 'Q2_2', 'Q3', 'Q4', 'Q5', 'Q6', 'Q7', 'Q7a', 'Q8', 'J1', 'B1_1',
       'B1_2', 'C1_1', 'C1_2', 'C1_3', 'D1_1', 'D1_2', 'A1_1', 'A1_2', 'A1_3',
       'A1_4', 'A2_1', 'A2_2', 'A2_3', 'A3', 'A4', 'E1', 'E2', 'E3', 'E4',
       'E5', 'E6', 'E7', 'E8', 'F1', 'F2_1', 'F2_2', 'F2_3', 'F3', 'F4_1',
       'F4_2', 'F4_3', 'G1', 'G2_1', 'G2_2', 'G2_3', 'H0', 'COD_IBGE', 'H1',
       'H2', 'H2a', 'H3', 'I1', 'I2', 'PESO'],
      dtype='object')

In [ ]:
df['I1']

0       3
1       1
2       1
3       1
4       3
       ..
1094    1
1095    1
1096    1
1097    1
1098    2
Name: I1, Length: 1099, dtype: int64

In [ ]:
df['H2'].unique()

array([999997,   3000,  10000,   1300,   1040,   1045,  20000, 999998,
         5000,   1200,   4600,   2000,   1100,  13000,   1600,   7000,
         8000,   2600,   9000,   1500,   4000,   1800,  25000,   1900,
       999999,  15000,   3500,   2200,   2500,   1400,   1000,   2900,
         3800,   6000,   4100,   6500,   2100,  12000,   3200,   4500,
        18000,   2070,    950,  30000,  11000,   4950,  23000,    900,
        35000,    600,  17000,  19000,   2080,    700,   2300,   1042,
         5500,  60000,   2400,  32000,   1700,  17889,   6600,   2800,
         3300,   5200,  50000,  40000,   1056,  24000,    800,   5800,
       100000,  14000,   1084,    300,    750,   8050,   7500,   4050,
         8500,  45000,   2090])

In [ ]:
df['D1_1'].isnull().sum()

0

In [ ]:
df['Q5'].value_counts()

Q5
1    871
2    228
Name: count, dtype: int64

In [ ]:
df['G2_1']

0       2
1       1
2       1
3       1
4       2
       ..
1094    1
1095    2
1096    1
1097    1
1098    2
Name: G2_1, Length: 1099, dtype: int64

In [ ]:
df['I1'].value_counts()

I1
1    938
3    149
2     12
Name: count, dtype: int64

In [ ]:
df['H3'].value_counts()

H3
7     402
5     332
9     109
6      99
2      52
3      41
4      40
99     11
8      11
1       2
Name: count, dtype: int64

In [ ]:
df['H3'].describe()

count    1099.000000
mean        6.929026
std         9.416514
min         1.000000
25%         5.000000
50%         6.000000
75%         7.000000
max        99.000000
Name: H3, dtype: float64