<a href="https://colab.research.google.com/github/mheloisagalvao/testes-ml/blob/main/Testes2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Criação do Churn

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
url = "https://raw.githubusercontent.com/mheloisagalvao/projeto-ml/main/BD_SCM.CSV"

In [3]:
df = pd.read_csv(url, encoding='latin-1',delimiter = ';')

In [7]:
df['E8'] = df['E8'].fillna('99')
df['F4_1'] = df['F4_1'].fillna('99')
df['F4_2'] = df['F4_2'].fillna('99')
df['F4_3'] = df['F4_3'].fillna('99')
df['A1_1'] = df['A1_1'].fillna('99')
df['A2_1'] = df['A2_1'].fillna('99')
df['A2_2'] = df['A2_2'].fillna('99')
df['A2_3'] = df['A2_3'].fillna('99')
df['A3'] = df['A3'].fillna('99')
df['H2'].replace({999997: 999998}, inplace=True)
df['H2a'].replace({98: 99}, inplace=True)

In [9]:
df.dropna(axis=1, inplace=True) #dropar as colunas com a maior parte dos seus dados nulos
df.describe() #médias
print(df.isnull().sum()) #soma que não tem mais nada vazio

IDTNS        0
TIPO         0
OPERADORA    0
ESTADO       0
DATA         0
ANO_BASE     0
Q1           0
Q2_1         0
Q2_2         0
Q3           0
Q4           0
Q5           0
Q6           0
Q7           0
Q7a          0
Q8           0
J1           0
B1_1         0
B1_2         0
C1_1         0
C1_2         0
C1_3         0
D1_1         0
D1_2         0
A1_1         0
A2_1         0
A2_2         0
A2_3         0
A3           0
E1           0
E3           0
E5           0
E7           0
E8           0
F1           0
F3           0
F4_1         0
F4_2         0
F4_3         0
G2_1         0
G2_2         0
G2_3         0
H0           0
COD_IBGE     0
H1           0
H2           0
H2a          0
H3           0
I1           0
PESO         0
Churn        0
dtype: int64

In [10]:
df['Churn'] = df['J1'].apply(lambda x: 1 if x <= 4 else 0)

In [11]:
df['Churn'].value_counts()

Churn
0    907
1    192
Name: count, dtype: int64

In [12]:
df.iloc[2]

IDTNS                       235004
TIPO                   BANDA-LARGA
OPERADORA                CLARO/NET
ESTADO                          SP
DATA                     16/jul/20
ANO_BASE                      2020
Q1                               1
Q2_1                             2
Q2_2                             2
Q3                               1
Q4                               1
Q5                               1
Q6                               1
Q7                              56
Q7a                              8
Q8                               2
J1                               0
B1_1                             0
B1_2                             0
C1_1                             1
C1_2                             1
C1_3                             0
D1_1                             0
D1_2                             2
A1_1                            99
A2_1                            99
A2_2                            99
A2_3                            99
A3                              99
E1                               2
E3                               1
E5                               1
E7                               1
E8                             5.0
F1                               2
F3                               1
F4_1                           7.0
F4_2                           7.0
F4_3                           9.0
G2_1                             1
G2_2                             1
G2_3                             1
H0           SÃO BERNARDO DO CAMPO
COD_IBGE                   3548708
H1                               2
H2                           10000
H2a                              4
H3                               7
I1                               1
PESO                   19,63292645
Churn                            1
Name: 2, dtype: object